.resizer {
    width: 4px;
    background-color: #e0e0e0;
    cursor: col-resize;
    position: relative;
    flex-shrink: 0;
    transition: background-color 0.2s;
    z-index: 10;

    &:hover,
    &--dragging {
        background-color: #1976d2;
    }

    &::before {
        content: '';
        position: absolute;
        left: -4px;
        top: 0;
        width: 12px;
        height: 100%;
        cursor: col-resize;
    }
}

body:has(.resizer:hover) {
    cursor: col-resize;
    user-select: none;
}

// 다크모드
body[data-theme='dark'] {
    .resizer {
        background-color: #444;

        &:hover,
        &--dragging {
            background-color: #64b5f6;
        }
    }
}
